.header {
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  display: none;
}
.nav__list {
}
.list {
}
.nav__item {
}
.nav__link {
}
.current {
}
