.nav {
  @include flexible(flex);
}

.nav__list {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: $base-font-size;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $title-text-color;

  transition: color $tr-duration $tr-timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

// ???? Нужен ли тут класс нав-линк?
.current {
  position: relative;

  color: $accent-color;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: #2196f3;
    border-radius: 2px;
  }
}
