.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__filter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 50px;
  }
}

.filter {
  margin-bottom: -15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.filter__item {
  margin-bottom: 15px;

  &:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.filter__button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border-style: none;

  background: $button-background-color;
  color: $title-text-color;

  transition-property: background-color, box-shadow, color;
  transition-duration: $tr-duration;
  transition-timing-function: $tr-timing-function;

  &:hover,
  &:focus {
    background-color: $accent-color;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    color: $primary-white-color;
  }
}

.portfolio__list {
  margin-bottom: -30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.portfolio__item {
  margin-bottom: 30px;

  border: 1px solid #eeeeee;

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__link {
  display: block;

  transition: box-shadow $tr-duration $tr-timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio__box {
  position: relative;
}

.portfolio__desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 0;

  @include flexible(flex);

  padding-left: 24px;
  padding-right: 24px;

  background-color: rgba(33, 150, 243, 0.9);

  font-size: 18px;
  line-height: 1.56;

  color: $primary-white-color;

  opacity: 0;

  transition: opacity $tr-duration $tr-timing-function,
    top $tr-duration $tr-timing-function;
}

// !!!!!! Здесь тоже надо переделать
.portfolio__link:focus .portfolio__desc,
.portfolio__link:hover .portfolio__desc {
  opacity: 1;
  top: 0;
  left: 0;
}

.portfolio__card {
  padding: 20px 24px;
}

.portfolio__name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $title-text-color;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.88;

  color: $primary-text-color;
}
