.footer-contacts {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-contacts__adress {
  display: block;
  margin-bottom: 8px;
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: $primary-white-color;
}

.footer-contacts__item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-contacts__link {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
