.footer__contacts {
  margin-right: 70px;
}

.footer__adress {
  text-decoration: none;
  font-style: normal;
  font-size: $base-font-size;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $primary-white-color;
}

.footer__contact {
  display: block;
  margin-top: 9px;

  text-decoration: none;
  font-size: $base-font-size;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}
