.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  @include flexible(flex);
  /* margin-left: auto; */

  width: 30px;
  height: 30px;
  background-color: $primary-white-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  transition: fill $tr-duration $tr-timing-function;

  // !!!!! Сомневаюсь, что правильно!
  &:hover .btn-close__icon,
  &:focus .btn-close__icon {
    fill: $accent-color;
  }
}

.btn-close__icon {
  fill: #000000;
  width: 18px;
  height: 18px;
}
