@mixin flexible($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

// @include flexible($type);
// @include flexible(inline-flex)

// Есть в секции features, works...
@mixin title-font() {
  font-weight: 700;
  font-size: $base-font-size;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@mixin section-title-font() {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
// @include section-title-font()
